@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic,300,300italic);
body {
  background: #f1f1f1;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 0px;
}
.hidden-phone-inline{
  display: none;
  }

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}
.navbar-inverse{margin-bottom: 0px;}
section.top{
	/*border:1px solid #333;*/
	/*background-image:URL('../img/wcwrbanner.png');*/
  background: #fff;
	background-repeat: no-repeat;
	background-position: top center;
}
section.top .container{}
.top_logo{float:left;clear: right; margin-bottom: 10px;}
.top_logo img{width:270px;}
.top_phone{float:right;margin-top:10px;}
.top_phone a{font-size:16px;font-weight: 500;}
.top_phone a:hover{text-decoration: none;}
.oace{clear:both; color: #fbae3b; font-size: 19px; margin-bottom: 10px;}
#navExt {border:none; border-radius: 0px; margin-bottom: 20px;}
#navExt .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-nav > li > a{color: #fff;}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{color: #ccc;}


#quickInterface{
	float: right;
	width: 240px;
	position: relative;
}
ul#resourcelinks {
  margin: 20px 5px 0;
  background-color: #FFFFFF;
  display: block;
  width: 235px;
  list-style: none;
  padding: 0;
}
ul#resourcelinks li {
  display: inline;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 3px;
}
ul#resourcelinks li a {
  color: #0a2972;
  font-weight: normal;
  text-decoration: none;
  display: block;
  float: left;
  padding: 0 4px;
  background-color: #FFFFFF;
  font-size: 11px;
  line-height: 12px;
}
.jumbo_background_stretch{
  background: #0a2972;
  margin-bottom: 20px;
  position: relative;
  top: -20px;
}
#jumbo_container{
  margin-bottom: 20px;
  margin-top:0px;
  position:relative;
  top:0px;
  clear: both;
}
.jumbotron{
  background:URL('/media/supportingfiles/layoutassets/5hdue/img/banner_bg_01_copy.jpg');
  background-repeat:no-repeat;
  background-position: 60% -50px;
  background-size:240%;
}

.jumbotron div.background_blue{
  background-color: rgba(10, 40, 114, 0.7);
  padding: 4px 30px;
  position: relative;
  top: 150px;
}
.jumbotron div.button_container{
  background: #FFF none repeat scroll 0% 0%;
  display: block;
  margin-bottom: 60px;
  padding: 30px;
  position: relative;
  top: 150px;
}
/*.jumbotron div:nth-child(2){background-color: #fff;}*/
.jumbotron h1{color: #fff; font-size: 24px; line-height: 32px; margin-bottom: 20px;}
.jumbotron h2{color: #555; font-size: 18px; line-height: 28px;}
.jumbotron p{margin-bottom:}
.jumbotron span.or{display:block; font-size: 17px; font-weight: 500; text-align: center;}
.button_container h2{margin-bottom: 40px; margin-top:0px;}
#apply_button{}
#learn_button{}
.btn_yellow{background: #fbae3b; border: none; border-radius: 6px; color: #fff; text-shadow:0px -1px 0px #c18817; display:block; font-size: 18px; margin-bottom:20px; margin-top:20px; text-transform: uppercase; padding:10px 30px;}
.btn_yellow:hover{background: #de901c;}
.chat_icon{ }
.alert-info{
  background: #f0f2f7 none repeat scroll 0% 0%;
  border: 0px solid #9eb3cf;
  border-radius: 0px;
  color: #0A2872;
  font-size: 14px;
  line-height: 20px;
  margin-top: 0px;
  min-height: 60px;
  position: relative;
  padding: 10px 20px 20px;
}
.alert-info img{
  display: inline;
  margin-right: 8px;
  margin-bottom: 10px;
  margin-top: 2px;
  position: relative;
  float: left;
  vertical-align: middle;
}
.alert-info span{
  clear: both;
  font-weight: 600;
  position: relative;
  top: 8px;
}
.box_gray{
  background: #f6f6f6;
  border:1px solid #aaaaaa;
  margin-bottom: 20px;
  padding: 20px;
}
.main{margin-bottom: 0px; clear: both; position: relative; top:-20px; padding-top: 0px;}
section.main .container{background: #fff; padding-bottom: 40px;}
.main .container.secondary{top:-20px;padding-top: 20px; position: relative;}
.padding_reset{padding-left: 0px;padding-right: 0px;}
.border_radius_reset{border-radius: 0px!important;}
.box_gray h2{color:#0a2872;font-size: 16px;}
.box_gray p{color:#0a2872;font-size: 12px;line-height: 18px;}

h2.program_title{font-size: 28px; position: relative; width: 300px;}
p.program_description{clear: both;}
.sidebar_blue{
  background: #0074da;
  border-radius: 4px;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;

  padding-bottom: 100px;
  padding-top: 20px;
  text-align: center;
}
.sidebar_blue p{color: #fff;text-align: left; margin: 10px 15px 20px 15px;}
.sidebar_blue h3{color: #fff;}
input.cbFormTextField_a7e7d9d6e7b985{
  border-radius: 6px;
}

h4.list-title{background:#072674;padding:10px; margin: 20px 1px 0px 1px; font-size: 16px; font-weight: 600; color: #FBAE3B; border-radius: 6px 6px 0px 0px; text-align: center; min-height: 40px;}
.list-bottom{min-height:40px; background:#072674;padding:8px; margin: 0px 1px 0px 1px; font-size: 18px; color: #FBAE3B; border-radius: 0px 0px 6px 6px; text-align: center;}
.panel-group{margin-bottom:0px; }
.panel-group .panel{background: #072674;}
.panel-heading{background-color: #072674;}
.panel-heading{}
.last{border-radius:0px 0px 6px 6px;}
.panel-title{/*background:#072674;*/}
.panel-title a h2{color:#fff; background-image: url('/media/supportingfiles/layoutassets/5hdue/img/triangle_left.png'); background-position: left; background-repeat: no-repeat;}
.panel-default > .panel-heading{
  /*background-image: url('../img/triangle_left.png');*/
  /*background-position: right 10px center;*/
  /*background-repeat: no-repeat;*/
  background-color: #072674;
  background-image:none;
  color: #fff;
  }
.panel-default > .panel-heading:focus{background-image: url('/media/supportingfiles/layoutassets/5hdue/img/triangle_down.png');}
.panel-default > .panel-heading.last{border-radius: 0px 0px 6px 6px;}

.panel-default > .panel-heading:last-child{border-radius: 0px 0px 6px 6px;}
.panel-body.programs_mobile{
  background: #fff;

}


footer{position: relative; top: -30px;}
footer a {color: #fff;}
.prefooter{background:#004b8d; padding-top:20px;padding-bottom:30px}
.prefooter p{color:#fff; font-size:12px; font-weight: 300; line-height: 16px; margin-bottom: 20px;}
.prefooter .social{display: block; position: relative; margin: 0px auto 0px auto}
.mass_seal{display: none;}
.social{display: block; position: relative; text-align: center;}
.social ul{display:inline-block; height:45px; list-style-type:none; padding-left: 0; width: 220px;}
.social li{background-image: url('/media/supportingfiles/layoutassets/5hdue/img/social_sprite.png'); display: inline-block; height:45px; margin-right: 20px; padding:0px; width:45px;}
.social li a{cursor:pointer; display:block; height:45px; position: relative; width:45px;}
li.fb{background-image: url('/media/supportingfiles/layoutassets/5hdue/img/social_sprite.png');}
li.tw{background-image: url('/media/supportingfiles/layoutassets/5hdue/img/social_sprite.png'); background-position: 46px;}
li.yt{background-image: url('/media/supportingfiles/layoutassets/5hdue/img/social_sprite.png'); background-position: 100px;}
nav.footer_nav{display: block; margin-bottom: 20px; position: relative;}
nav.footer_nav ul{display: inline-block; list-style-type: none; padding-left:0px;}
nav.footer_nav li{border-right:2px solid #fff; color:#fff; float: left; font-size: 14px; height: 16px; line-height: 14px; margin-bottom: 10px; margin-left: 0px; padding-left: 6px; padding-right: 6px;}
nav.footer_nav li:last-child{border: none;}
nav.footer_nav li a{color:#fff;}
.copyright{padding-top: 20px;}
.copyright p{color:#fff;font-size: 10px; line-height: 16px; text-align: center;}


.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: #555;
    background-color: #ffc34b;
}
.navbar-default .navbar-toggle{border:none;}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{background: #de901c;}
.panel .panel-primary{
  <!--border-radius: 0px;-->
}
.panel_blue{
  border-color: #fff;
  border-radius: 0px;
}
.panel_blue .panel-heading{
  background: #062674;
  border-radius: 0px;
}
ul.programs_list{
    list-style-type: none;
    padding-left:0px;

  }
  .programs_list li{
    border-bottom: 1px solid #072674;
    padding-bottom:16px;
    padding-top:10px;
    padding-bottom-:20px;
    word-wrap:break-word
  }
  .programs_list li:last-child{border-bottom: none;}
  .programs_list li a{font-size: 13px;line-height: 10px;word-wrap: normal; font-weight: 700; }
  .programs_list li a br{display: block;height: 6px; font-weight: 400;}
  span.how{display: block;font-size: 12px;}
form#caspioform{display: block;}
  label[for=InsertRecordfirst_name]{display: none;}
  label[for=InsertRecordlast_name]{display: none;}
  label[for=InsertRecordemail_address]{display: none;}
  label[for=InsertRecordpreferred_program]{display: none;}
  form#caspioform table{width:100%;}
  input#submit{display: none;}
  table#cbTable_2cc907aa661228 tr td{border:none;background-color: #fff;}
  select#InsertRecordpreferred_program{border:1px solid #000; font-size:16px; padding: 10px; -webkit-appearance: none;}
div.form{
    padding-top: 0px;
  }
  .form h3{
    margin-top: 0px;
  }


h1{}
h2{color: #003366; font-size: 24px; font-weight: 700; line-height: 30px text-transform: uppercase;font-family: 'Open Sans', sans-serif; }
h3{color: #306ca0; font-size: 18px; font-weight: 700; line-height: 24px; font-family: 'Open Sans', sans-serif; }
h4{}
p{font-size: 14px; line-height: 18px;}
a{color: #1c4583;}
p a{font-weight: 600;color: #1c4583;}
footer p a{font-weight:normal;color: #fff;}
a:focus, a:hover{text-decoration: none;}

.width_100{
  width: 100%;
}
ul{padding-left: 20px;}
li{line-height: 24px;}
li a{font-weight: 600;}


  /* Phone */
@media only screen and (max-width: 992px) {
  .hidden-phone{
  display: none;
  }
  .visible-phone{

    margin-bottom:0px;
  }
}
@media only screen and (min-width: 400px) {
  .hidden-phone{
  display: none;
  }
  .top_logo img {width: 357px;}
  .oace{font-size: 24px;}
  .oace br{height: 4px;line-height: 4px; display: inline;}
  .jumbotron h1{font-size: 32px; line-height: 38px;}


}
@media only screen and (min-width: 500px) {
  .top_logo img {width: 466px;}
  .oace {font-size: 32px;}
  .jumbotron h1 {font-size: 40px; line-height: 48px;}
}

}
@media only screen and (min-width: 600px) {

}
@media only screen and (min-width: 630px) {
  .sidebar_blue{
    margin-left: 0px;
    margin-right: 0px;

  }

}
@media only screen and (min-width: 760px) {
  .top_logo img {width: 346px;}
  .oace {font-size: 24px;}
  .main .container.secondary{top:-10px;}

  #navExt{padding-top: 6px; padding-bottom: 2px;}
  .navbar-nav{ height:auto; }
  .navbar-nav > li{border-right: 1px solid #333333; display: inline-block; padding: 2px 10px 0px 10px; font-size: 10px; line-height: 11px;  }
  .navbar-nav > li:first-child{padding-left: 0px;}
  .navbar-nav > li:last-child{border-right: none; padding-right: 0px;}
  .navbar-default .navbar-nav > li > a{color: #fff; display: inline; font-size: 11px; font-weight: 600; padding: 0px; line-height: 9px; vertical-align: top;}
  .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{ }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form{padding:10px 0px 10px 0px;}
  .sidebar_blue{
    margin-left: 0px;
    margin-right: 0px;

  }


}
@media only screen and (min-width: 830px) {

}
@media only screen and (min-width: 992px) {
  .hidden-phone{
    display: block;
  }
  .hidden-phone-inline{
    display: inline;
  }
  .visible-phone{
    display: none;

  }
  section.top{height: 120px;}
  .top_logo{margin-right: 40px; width: 300px;}
  .top_logo img{width: 300px;}
  .oace{max-width: 340px; position: relative;top: 10px;clear: none; font-size: 32px;display: inline;float: left;line-height: 16px;}
  #quickInterface {
    float: right;
    min-height: 120px;
    width: 240px;
    position: relative;
    top: 0px;
}
  ul#resourcelinks{
    margin: 10px 5px 30px 5px;
    min-height: 0px;
    position: relative;
  }
  #search {
    display: block;
    min-height: 40px;
    position: relative;
  }

  form.gsc-search-box {
    font-size: 13px;
    margin: 0px 0px 4px;
    width: 100%;
  }
  table.gsc-search-box{
    min-height: 32px;
    border: 1px solid;
    border-spacing: 0px;
    width: 100%;
    margin-bottom: 2px;
  }
  .gsc-search-box-tools .gsc-search-box .gsc-input{
    background: none!important;
  }
  input.gsc-input, .gsc-input-box, .gsc-input-box-hover, .gsc-input-box-focus{
    min-height: 35px;
    border: 1px solid;
  }
  #search table{
    width: 100%;
    padding: 0px;

    min-height: 20px;
  }
  table.gsc-search-box td{
    min-height: 30px;
  }
  .gsc-search-box-tools .gsc-search-box .gsc-input {
    padding-right: 0px!important;
    vertical-align: top!important;
}

  .gsc-search-box-tools .gsc-search-box .gsc-input{
    width: 100%;
    padding: 0px;
    border: medium none;
    margin: 0px;
    min-height: 36px;
    outline: medium none;
    background: #FFF url("http://www.google.com/cse/static/en/google_custom_search_watermark.gif") no-repeat scroll left center*;
  }
  table.gsc-search-box td{height: 40px!important;vertical-align: top!important;}
  input.gsc-search-button, input.gsc-search-button:hover, input.gsc-search-button:focus{border:none !important;width: 35px;height: 35px !important; position: relative; background: url(/media/supportingfiles/layoutassets/5hdue/img/btn_search.png) no-repeat scroll center!important; background-color: #ffd673!important;}
  .cse .gsc-search-button input.gsc-search-button-v2, input.gsc-search-button-v2{width: 25px;height: 25px;}
  .gsc-input{padding-top: 2px!important;}

  #navExt{padding: 0px 0px 0px 0px }
  .navbar-inverse .navbar-nav>li>a{color: #fff;}
  #navExt{padding-top: 6px; padding-bottom: 2px;}
  .navbar-nav{ height:16px; position: relative; top: -14px; }
  .navbar-nav > li{border-right: 1px solid #333333; display: inline-block; padding: 2px 10px 0px 10px; font-size: 10px; line-height: 11px; color: #fff; }
  .navbar-nav > li:first-child{padding-left: 0px;}
  .navbar-nav > li:last-child{border-right: none; padding-right: 0px;}
  .navbar-default .navbar-nav > li > a{color: #072674; display: block; font-size: 14px; font-weight: 600; padding: 0px; line-height: 9px; vertical-align: top:0px; color: #ccc;}
  .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{ }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form{padding:10px 0px 10px 0px; border:none; height: 40px !important; position: relative;}



  #jumbo_container{max-height: 435px;}
  .container .jumbotron, .container-fluid .jumbotron{background-size:cover; margin-bottom: 0px; padding-left: 0px;padding-right: 0px; height: 436px;}
  .jumbotron div.background_blue{display: inline-block; height: 300px; margin-bottom: 20px; min-height: 300px; padding-bottom: 20px; position: relative; top: 0px; width: 66%; float: left; }
  .jumbotron h1{font-size: 44px;line-height: 52px; font-weight: 700; letter-spacing: 1px;}
  .jumbotron h2{color:#ffcc66;font-size: 18px; font-weight: normal; line-height: 26px; max-width: 600px; display: block; top: 0px; position: relative;}
  .jumbotron div.button_container{background:none; clear: both; height: 170px; padding:0px 0px 0px 30px; top:-180px; width: 700px;}
  .jumbotron div.button_container div{position: relative;top: -30px; width: 610px;}
  .btn_yellow{min-width:200px; display: inline-block; font-size: 18px; margin-right: 40px; width: 100%; max-width:270px; font-weight: 600;}
  .jumbotron .btn_yellow:last-child{margin-right: 0px;}
  .jumbotron span.or{color: #fff;display: none;}
  .chat_icon{position: relative; top:250px; margin-right: 30px; width: 108px; height: 100px; float: right;}
  .chat_icon a{width: 108px; height: 100px; position: relative; display: block;}
  .chat_icon a:hover{cursor: pointer;}
  .main{position: relative; top:-20px;padding-top: 20px; position: relative;}
  .main .container{padding-top: 20px;top: -20px; position: relative;}
  .panel-body{min-height: 240px; background: #f6f6f6;}
  .panel-body .img-responsive{margin-bottom: 20px;width: 100%;}


  .social{float:right;}
  .mass_seal{display:block; float:left; margin:20px 60px 60px 40px; position: relative;}
  footer{position: relative;top: -20px;}
  .prefooter{min-height: 240px;margin-bottom: 20px;}
  .copyright p{float:left; text-align: left;}


  .collapseOne{height: 427px !important;}
  .sidebar_blue{
    margin-left: 0px;
    margin-right: 0px;
  }

  ul.programs_list{
    list-style-type: none;
    padding-left:0px;

  }
  .programs_list li{
    border-bottom: 1px solid #e4e4e4;
    padding-bottom:16px;
    padding-top:10px;
    padding-bottom-:20px;
    word-wrap:break-word

  }
  .programs_list li a{font-size: 13px;line-height: 10px;word-wrap: normal; }
  .programs_list li a br{display: block;height: 6px;}
  span.how{display: block;font-size: 12px;font-weight: 400;}


@media only screen and (min-width: 1062px) {
  .jumbo_background_stretch{
    height: 436px;
    margin-bottom: 0px;
  }

}
@media only screen and (min-width: 1070px) {

}
@media only screen and (min-width: 1084px) {

}
@media only screen and (min-width: 1100px) {
  }

}
@media only screen and (min-width: 1140px) {

}
@media only screen and (min-width: 1200px) {
  .oace{margin-left: 40px;}
  .navbar-nav{margin-top:0px; }
  .navbar-default .navbar-nav > li > a{font-size: 14px; }
  .navbar-nav > li{padding: 2px 13px 0px 13px; height: 14px;}
  .navbar-nav > li:first-child{padding-left: 0px;}
  .navbar-nav > li:last-child{padding-right: 0px;}
  .jumbo_background_stretch{
    height: 436px;
  }

}
@media only screen and (min-width: 1310px) {

}
.t4Edit-page {
	position: relative;
	color: #0b3356;
	left: 3%;
	bottom: 70px;
}
.breadcrumbs a{
  color: #555;
}
.request-info-btn{
  margin:30px auto;
  max-width:300px;
}
.container hr{
  border-color: #fbae3b;
  overflow: auto;
  margin: 30px 0;
}
